/ {
    pins {
	compatible = "gpio-keys";
	motor_0: motor_0 {
	    gpios = <&gpio1 14  GPIO_ACTIVE_LOW>;
	    label = "motor 0";
	};
	motor_1: motor_1 {
	   gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
	   label = "motor 1";
	};
	    
    };

    pwm_pins {
	compatible = "pwm-leds";
	buzzer_0: buzzer_0 {
	    pwms = <&sw_pwm 0 PWM_USEC(2000) PWM_POLARITY_INVERTED>;
	};
    };
    

    leds {
	compatible = "gpio-leds";
	    red_led: red_led {
		    gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
		    label = "Red LED";
	    };
	    blue_led: blue_led {
		    gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
		    label = "Blue LED";
	    };
    };
};

&sw_pwm {
    status="okay";
    channel-gpios = <&gpio0 23 PWM_POLARITY_INVERTED>;
};
